#label{
    opacity: 0.6;
    height: 40px;
    width: 100%;
    border: 2px solid ;
    border-radius: 10px ;
    background-color: rgb(227, 234, 235);
}
#label2{
    padding-top: .2cm;
    /*padding-right: ;*/
    padding-bottom: .5cm;
    padding-left: 1000px;
    font-size: .7cm;
}
.child{
    text-align: center;
    margin-top: 2cm;
    margin-left: 5cm;
    color: azure;
    background-color: black;
    display: inline-block;
}
a{
    color: black;
    margin: 1cm;
    text-decoration: none;

}
#imglb{
    background-color: mediumspringgreen;
    color: white;
    padding: 0.3cm;
    text-align: center;
    margin: .4cm;
}
#submit{
    background-color: dodgerblue;
    color: white;
    padding: 0.3cm;
    margin: .4cm;
}